<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/loginLayout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="content">
  <body class="c-app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form action="#" method="post" th:action="@{/authenticate}">
              <h1>Login</h1>
              <p class="text-muted">
              <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text"></span></div>
                <input class="form-control" type="userId" name="userId" placeholder="아이디" th:value="${userId != null} ? ${userId} : ''">
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend"><span class="input-group-text"></span></div>
                <input class="form-control" type="password"  name="password" placeholder="비밀번호">
              </div>
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-primary px-4" type="submit">Login</button>
                </div>
              </div>
              </form>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <br/>
                <p> SHOPPING <br/> 신규 회원은 아래 버튼을 통해 가입해주세요 </p>
                <button class="btn btn-lg btn-outline-light mt-3" type="button" onclick="window.open('/member/register', '회원가입', 'top=200, left=500, width=800, height=550')"> Register Now!
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</div>
</html>
